**/node_modules
**/dist
**/build
**/.cache
**/.next
**/coverage
**/.git
**/.vscode
**/.idea
**/.env
**/.env.*
!**/.env.example
**/npm-debug.log*
**/yarn-debug.log*
**/.DS_Store
**/*.tsbuildinfo
docs/
**/*.md
README.md
